body{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Heiwa_elementary_school_18.jpg/1200px-Heiwa_elementary_school_18.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25%;
    justify-content: space-between;
  }
  button{
    padding: 5%;
  }